<div class="row">
  <div class="col-md-2">
    <%= render_and_or_exclude_select(f, field) %>
  </div>
  <div class="col-md-10">
    <%= f.collection_select(
            :exact,
            field_presenter(nil, field).select_values,
            :last,
            :first,
            { :include_blank => true, :label => t("advanced_searches.boolean_search_field.correspond_to") },
            :multiple => false)
    %>
  </div>
</div>
