<div class="row">
  <div class="col-md-2">
    <%= render_and_or_exclude_select(f, field) %>
  </div>
  <div class="col-md-10">
      <%= react_component('DateTimeSearch',
        props: {
          catalog: 'library',
          itemType: 'book',
          locale: 'en',
          label: t(".after"),
          srcId: 'current-element-id',
          srcRef: 'current-element-ref',
          inputName: 'date-time-search',
          isRange: true,
          format: field.format,
          selectCondition: field.search_conditions_as_hash
        },
        prerender: false) %>
  </div>
</div>
