<div class="row">
  <div class="col-md-2">
    <%= render_and_or_exclude_select(f, field) %>
  </div>
  <div class="col-md-10">
      <%= react_component('DateTimeSearch',
        props: {
          catalog: field.catalog.slug,
          itemType: 'book', #TODO - changer cette variable en dynamique
          label: t(".after"),
          locale: I18n.locale,
          srcId: "advanced_search_criteria_#{field.uuid}_id",
          srcRef: "advanced_search_criteria_#{field.uuid}_exact",
          startDateInputName: "advanced_search[criteria][#{field.uuid}][start][exact]",
          endDateInputName: "advanced_search[criteria][#{field.uuid}][end][exact]",
          format: field.format,
          selectConditionName: "select_condition_#{field.uuid}_name",
          selectCondition: field.search_conditions_as_hash
        },
        prerender: false) %>
  </div>
</div>
