<div class="row">
    <!-- TODO - create a presenter for advanced search -->
      <%= react_component('ReferenceSearch',
      props: {
        catalog: 'library',
        itemType: 'book',
        locale: 'en',
        itemTypeSearch: false,
        selectCondition: [
            {name: t(".has_exact_phrase"), key: "exact"},
            {name: t(".contains_words"), key: "contains"},
            {name: t(".excludes_words"), key: "excludes"},
          ]
      },
      prerender: false) %>
    <div class="invisible">a</div> <!-- TODO - remove this -->
</div>
