<div class="row">
    <%= f.hidden_field("exact") %>
    <%= react_component('ReferenceSearch',
      props: {
        catalog: field.catalog.slug,
        itemType: field.slug,
        locale: I18n.locale,
        inputName: 'coucou',
        itemTypeSearch: false,
        selectCondition: field.search_conditions_as_hash
      },
      prerender: false) %>
    <div class="invisible">a</div> <!-- TODO - remove this -->
</div>
