<div class="row">
  <div class="col-md-8">
    <!-- TODO - create a presenter for advanced search -->
    <%= react_component('ReferenceSearch',
    props: {
      catalog: 'library',
      itemType: 'book',
      locale: 'en',
      itemTypeSearch: false
    },
    prerender: false) %>
  </div>
  <div class="col-md-4">
    <%= f.select("condition", [
      [t(".has_exact_phrase"), "exact"],
      [t(".contains_words"), "contains"],
      [t(".excludes_words"), "excludes"]
      ],
      { :hide_label => true },
      { :class => "filter-condition" }
    ) %>
  </div>
</div>
