<div class="row">
  <div class="col-md-2">
    <%= render_and_or_exclude_select(f, field) %>
  </div>
  <div class="col-md-10">
    <%= react_component('ReferenceSearch',
      props: {
        catalog: field.catalog.slug,
        itemType: field.related_item_type.slug,
        field: field.slug,
        locale: I18n.locale,
        inputName: "advanced_search[criteria][#{field.uuid}][exact]",
        referenceFilterName: "reference_filter_#{field.uuid}_name",
        srcRef: "advanced_search_criteria_#{field.uuid}_exact",
        itemTypeSearch: false,
        selectConditionName: "select_condition_#{field.uuid}_name",
        selectCondition: field.search_conditions_as_hash
      },
      prerender: false) %>
  </div>
</div>
