<div class="row search-container">
    <div>Label</div> <!-- TODO: retirer ça -->
    <div class="col-md-12">
      <%= react_component('ReferenceSearchContainer',
        props: {
          catalog: field.catalog.slug,
          parentItemType: field.field_set.slug,
          itemType: field.related_item_type.slug,
          field: field.slug,
          locale: I18n.locale,
          inputName: "advanced_search[criteria][#{field.uuid}][0][exact]",
          referenceFilterName: "advanced_search[criteria][#{field.uuid}][0][filter_field_slug]",
          srcRef: "advanced_search_criteria_#{field.uuid}_0_exact",
          itemTypeSearch: false,
          selectConditionName: "advanced_search[criteria][#{field.uuid}][0][select_condition]",
          selectCondition: field.search_conditions_as_hash,
          fieldConditionName: "advanced_search[criteria][#{field.uuid}][field_condition]",
          fieldConditionData: [
            {value: "and", key: "and"},
            {value: "or", key: "or"},
            {value: "exclude", key: "exclude"},
          ],
        },
        prerender: false) %>
    </div>
</div>
