.nestable-list {
    list-style-type: none;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
    margin-bottom: 0;
=======
>>>>>>> Build complex input names for nested choice set creation
}

.nested-fields {
    padding: 1rem 0;
}

.nestable {
    border-bottom: 1px solid #f5f5f5;
}

.nestable-item-name {
    padding: 1rem 0;
    border-top: 1px solid #f5f5f5;
}

.nestable-item-name:hover {
    background-color: #f5f5f5;
=======
=======
    margin-bottom: 0;
>>>>>>> Improve choice set input component initialisation with server data
}

.nestable {
    border-bottom: 1px solid #f5f5f5;
}

.nestable-item-name {
    padding: 1rem 0;
<<<<<<< HEAD
>>>>>>> Build complex input names for nested choice set creation
=======
    border-top: 1px solid #f5f5f5;
}

.nestable-item-name:hover {
    background-color: #f5f5f5;
>>>>>>> Improve choice set input component initialisation with server data
}
